
<h2>Bienvenue !</h2>
<p>(Sur cette page vous trouverez nos voitures les moins chères)</p>


<div class="container">
    
    <div class="row products">
      <div *ngFor="let produit of produits" class="col-lg-4 col-md-6">

        <div  *ngIf="produit.prix <= 14000" >     <!--        -->


          <div class="product" >
            <div class="flip-container"> 
              <div class="flipper">
                <img [src]="produit.image" alt="" class="img-fluid"> 
              </div>
            </div>
            <div class="text-center text">
              <h3 ><a id="nomP" href="#">{{ produit.nom}}</a></h3>
              <p class="price"> 
                <del></del>{{ produit.prix }} $
              </p>
              <p class="buttons"><a (click)="goToProduit(produit)"  class="btn btn-outline-secondary">View detail</a></p>
            </div>
          </div>

        </div>

      </div>
    </div>
</div>